

<div class="wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s">


<div class="page-title">
    <div>
        <p>Project</p>
    </div>
    <div>
        <input type="text" class="button-search" /><a class="search-bar"><i class="pe-7s-search"></i></a>
       
        <a href="#costumModal3" role="button" class="btn btn-primary icon-btn" data-toggle="modal">
                <i class="fa fa-fw fa-lg fa-check-circle"></i> Add project
            </a>
       

        &nbsp;&nbsp;&nbsp;
        <a class="btn btn-default icon-btn" href="#"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
    </div>
</div>
<div *ngFor="let item of projectList;let i=index">

    <div class="col-lg-3 col-xs-6">
        <div class="small-box transition" style="background-size: cover;background-image: url(../assets/img/body.jpg);" [ngClass]="getDynamicClass(item.Count)">
            <div class="inner" [ngStyle]="{'background': item.color}">
                <div style="float: right;">
                    <a class="projectAction"><i class="pe-7s-share"></i></a>
                    <a class="projectAction"><i class="pe-7s-note"></i></a>
                    <a class="projectAction"><i class="pe-7s-close"></i></a>
                </div>
                <h3 class="ng-binding"> {{i+1}}</h3>
                <p>{{item.name}} </p>
            </div>
            <div class="icon">
                <i class="pe-7s-hotel"></i>
            </div>
            <a [routerLink]="['/search-list']" [queryParams]="{q:item.Id}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>


<div id="costumModal3" class="modal" data-easein="flipYIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
<form  (ngSubmit)="saveProject(saveProjectObject)" #frmAddProject="ngForm" novalidate>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                <h4 class="modal-title">
                    Add Project
                </h4>
            </div>
            <div class="modal-body-s">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xxxs">
                        <div class="in row">
                            <div class="col-xs-12 col-sm-7 col-md-12 col-lg-7 p-xxxs">
                                <div class="column">
                                    <div class="form-group formtxt pd">
                                        <label for="projectname" data-attributeid="ProjectProjectName">Name</label>
                                        <input type="text" data-attributeid="ProjectProjectName" 
                                        [(ngModel)]="saveProjectObject.name"
                                         class="form-control" id="projectname" name="projectName" required placeholder="Name" #nameRef="ngModel">
                                         
                                         <div *ngIf="nameRef.invalid&&nameRef.touched" class="err-msg">
                                                <span class="" *ngIf="nameRef?.errors.required">Project Name Required</span>
                                            <span class="" *ngIf="nameRef?.errors.minlength&&!nameRef?.errors.required">
                                                Project must between 6 to 20 char Max</span>
            
                                    </div>
                                </div>
                                    <div class="form-group formtxt pd project-details-select">
                                        <label data-attributeid="ProjectGroupName">Group Name</label>
                                            <select class="select2me form-control select2-hidden-accessible" required #groupRef="ngModel"
                                            style="width:100% !important" id="projectGroup" [(ngModel)]="saveProjectObject.groupId" name="projectGroup" 
                                            tabindex="-1" aria-hidden="true">
                                                <option value="1+Mobile App">Mobile App</option>
                                                <option value="2+Node Backend">Node Backend</option>
                                                <option value="3+Dot Net Backend">Dot Net Backend</option>
                                                <option value="4+Sql Server">Sql Server</option>
                                                <option value="5+Angular">Angular</option>
                                                <option value="6+Angular 2">Angular 2</option>
                                            </select>
                                            <div *ngIf="groupRef.invalid&&groupRef.touched" class="err-msg">
                                                    <span class="" *ngIf="groupRef?.errors.required">Please Select Project Group</span>
                                               
                
                                        </div>
                                           
                                      
                                    </div>
                                    <div class="form-group formtxt m-b-l pd">
                                        <label for="status" data-attributeid="ProjectLifeCycleStateName">Status</label>
                                      
                                        <select [(ngModel)]="saveProjectObject.statusId" required #statusRef="ngModel" class="select2me form-control select2-hidden-accessible" id="status" name="status" tabindex="-1" aria-hidden="true">
                                            <option value="1+Not Started">Not Started</option>
                                            <option value="2+In Progress">In Progress</option>
                                            <option value="3+Closed">Closed</option>
                                        </select>
                                        <div *ngIf="statusRef.invalid&&statusRef.touched" class="err-msg">
                                                <span class="" *ngIf="statusRef?.errors.required">Please Select Status</span>
                                            </div>
                                            
                                       
                                    </div>
                                    <div class="form-group formtxt m-b-l pd">
                                        <label data-attributeid="ProjectCoverColor">Cover Color</label>
                                        <div class="color-picker" class="col-xs-12">
                                            <button type="button" (click)="setColor('ec5252');" class="col-xs-2 color-picker" style="background:#ec5252"></button>
                                                <button type="button" (click)="setColor('ecd052');" class="col-xs-2 color-picker" style="background:#ecd052"></button>
                                                    <button type="button" (click)="setColor('1fdf5f');" class="col-xs-2 color-picker" style="background:#1fdf5f"></button>
                                                        <button type="button" (click)="setColor('4555e7');" class="col-xs-2 color-picker" style="background:#4555e7"></button>
                                                            <button type="button" (click)="setColor('e745da');" class="col-xs-2 color-picker" style="background:#e745da"></button>
                                                                <button type="button" (click)="setColor('45e7c4');" class="col-xs-2 color-picker" style="background:#45e7c4"></button>
                                                                    <button type="button" (click)="setColor('e67b25');" class="col-xs-2 color-picker" style="background:#e67b25"></button>
                                                                        <button type="button" (click)="setColor('2715ce');" class="col-xs-2 color-picker" style="background:#2715ce"></button>
                                             <button type="button" (click)="setColor('ebecd4');" class="col-xs-2 color-picker" style="background:#ebecd4"></button>                                       

                                           
                                        </div>
                                        <div [ngStyle]="{'background': saveProjectObject.color}">{{saveProjectObject.color}}</div>
                                    </div>
            
                                    <div class="form-group formtxt pd RangeSlider-drive m-b-m m-t-elg">
                                            
                                        <label class="range">Percentage Complete:  
                                                <mat-slider thumbLabel  min="1"  value="0"
                                                 [(ngModel)]="saveProjectObject.percentComplete" name="percentComplete" max="100" step="1" value="2"></mat-slider>
                                                {{saveProjectObject.percentComplete}}%
                                            </label>
                                    </div>
            
                                
                                   
                                    <div class="form-group formtxt pd">
                                            <label>Report Manager</label>
                                            <div>
                                                    <select class="select2me form-control select2-hidden-accessible" required #managerRef="ngModel"
                                                    id="status" name="reportingManagerId" tabindex="-1" aria-hidden="true" [(ngModel)]="saveProjectObject.reportingManagerId">
                                                            <option value="1+Divaker">Divaker</option>
                                                            <option value="2+Shailesh">Shailesh</option>
                                                            <option value="3+Damroo">Damroo</option></select>

                                                            <div *ngIf="managerRef.invalid&&managerRef.touched" class="err-msg">
                                                         <span class="" *ngIf="managerRef?.errors.required">Please Select Reporting Manager

                                                         </span>
                                                            </div>
                                                               
                                                                
                                            </div>
                                        </div>
                                   
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-5 col-md-12 col-lg-5 p-xxxs">
                                <div class="column border-rn upload-imagesec">
                                     <label>Upload Cover Image: </label>
                                     <span class="input-label m-b-xs">( image not more than 2MB. in (.png and .jpeg))</span>
                                     <div class="userImageDiv">
                                            <figure class="image uploadBtn uploadBtnRestImage add">
                                                <img [src]="logo" src="" class="imgOfferlogo" alt="">
                                            </figure>
                                            <div class="buttonsub">
                                                <input type="file" name="avatar" (change)="onFileChange($event)" accept="image/*" class="browse-input" id="docfileupload">
                                            </div>
                                        </div>                                            
                                   
                                </div>
                            </div>
                           
                        </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
                            Close
                        </button>
                <button type="submit"   [ngClass]="{'disable': frmAddProject.invalid}" [disabled]="frmAddProject.invalid" class="btn btn-primary">
                            Save And Add More
                        </button>
            </div>
        </div>
    </div>
</form>
</div>

</div>
