<body>
    <div class="parentDiv">
        <div class="loginDiv">
            <div class="mainDiv">

                <div class="">
                    <div class="loginmodal-container">
                        <h1>Login to Your Account</h1><br>
                        <span style="color: red;font-family: cursive;">{{loginError}}</span>
                        <form class="login-form" name="form" novalidate>

                            <label for="username" style="margin-left: 3px;position: absolute;line-height:3;" class="fa fa-user input-icon"></label>


                            <input type="text" name="user" placeholder="Username" class="inputClass" />
                            <label for="password" style="margin-left: 3px;position: absolute;line-height:3;" class="fa fa-lock"></label>
                            <input type="password" name="pass" class="inputClass" placeholder="Password" />
                            <button class="btn btn-primary btn-block" (click)="login()">Login
                <i class="fa fa-sign-in fa-lg"></i></button>
                            <input type="submit " name="login " class="login loginmodal-submit " value=" " data-dismiss="modal " #closeBtn style="display:none; " />
                        </form>

                        <div class="login-help ">
                            <a href="# ">Forgot Password</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="signUpDiv">
            <section class="signUp-content">
                <form class="login-form" (ngSubmit)="signUp(userdetail)" #frmsignUp="ngForm" novalidate>
                    <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>Register</h3>
                    <div class="clearfix">
                        <div class="userImageDiv">
                            <figure class="image uploadBtn uploadBtnRestImage add">
                                <img [src]="logo" src="" class="imgOfferlogo" alt="">
                            </figure>
                            <div class="buttonsub">
                                <input type="file" name="avatar" (change)="onFileChange($event)" accept="image/*" class="browse-input" id="docfileupload">
                            </div>
                            <!-- <img src="assets/img/dp.jpg" class="userImage" />
                            <input type="file" /> -->
                        </div>
                        <div class="existing-user-outer">
                            <div class="text-box-outer">
                                <input id="txtUserName" name="userName" placeholder="User Name" type="text" required #userNameRef="ngModel" [(ngModel)]="userdetail.userName">
                                <label class="lbl-common">User Name</label>

                            </div>

                            <div class="text-box-outer">
                                <input id="txtEmailId" name="email" placeholder="Email" type="text" #emailRef="ngModel" [(ngModel)]="userdetail.email">
                                <label class="lbl-common">Email</label>

                            </div>
                            <div class="text-box-outer">
                                <input id="txtMobileno" name="mobileNo" placeholder="Mobile No" type="text" #mobileNoRef="ngModel" [(ngModel)]="userdetail.mobileNo">
                                <label class="lbl-common">Email</label>

                            </div>
                            <div class="text-box-outer">
                                <input placeholder="Organization" required #organizationNameRef="ngModel" name="organizationName" type="text" [(ngModel)]="userdetail.organization.name">
                                <label class="lbl-common">Organization</label>

                            </div>
                            <div class="text-box-outer">
                                <input placeholder="Password" #passwordRef="ngModel" required type="password" name="password" [(ngModel)]="userdetail.password">
                                <label class="lbl-common">Password</label>

                            </div>
                            <div class="text-box-outer">
                                <input placeholder="Verify Password" required type="text">
                                <label class="lbl-common">Verify Password</label>
                            </div>
                        </div>

                        <div class="text-box-outer">
                            <button class="btn btn-primary btn-block" type="submit" [ngClass]="{'disable': frmsignUp.invalid}" [disabled]="frmsignUp.invalid">Register
                      <i class="fa fa-sign-in fa-lg"></i></button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</body>